<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shutter &mdash; Colorlib Website Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/fancybox.min.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>


  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
      <div class="site-logo">
        <a href="/">Shutter</a>
      </div>

      <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
          class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      <div class="main-menu">
        <ul class="js-clone-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/bio">Bio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li class="active"><a href="/newGallery">Nueva Galeria</a></li>
        </ul>
        <ul class="social js-clone-nav">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </header>

    <main class="main-content">

      <div class="container-fluid photos">


        <div class="row align-items-stretch" id="fotos">
          <% if (album) { %>

          <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
            <form class="prospects_form">
              <a onclick="addPhoto()" class="d-block photo-item">
                <img src="images/blank_.png" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">submit foto</span>
                  </div>
                </div>
                <input type="file" id="file-input" name="postImg" class="form-control" style="display: none;">
              </a>
              <div class="row form-group">
                <div class="col-md-12" style="text-align:center">
                  <input type="submit" id="submit" value="Guardar" class="btn btn-primary btn-md text-white">
                </div>
              </div>
            </form>
          </div>

          <% } %>
          <!--
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_5.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <h3 class="heading">Añadir Foto</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
              <a href="#" class="d-block photo-item">
                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_6.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
              <a href="#" class="d-block photo-item">
                <img src="images/img_7.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_8.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_9.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>


            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
              <a href="#" class="d-block photo-item">
                <img src="images/img_10.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
              <a href="#" class="d-block photo-item">
                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_4.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_5.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up">
              <a href="#" class="d-block photo-item">
                <img src="images/img_6.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_7.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_8.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_9.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="d-block photo-item">
                <img src="images/img_4.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 pics" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="d-block photo-item">
                <img src="images/img_5.jpg" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <div class="photo-text-more">
                    <h3 class="heading">Añadir Foto</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </div>
              </a>
            </div>
-->


        </div>
      </div>
      <button id="add">+ agrega mas columnas</button>
      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
  </div>
  </main>

  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/jquery.fancybox.min.js"></script>

  <script src="js/main.js"></script>

  <script>
    function addPhoto() {
      console.log()
      var element = document.getElementById("file-input")
      element.click()
    }

  </script>
  <script type="text/javascript">
    $('body').click(function (e) {

      var target = $(e.target);
      if (target.is('#submit')) {

        console.log('targetttt', target[0].form.className)
        var form = '".' + target[0].form.className + '"'
        $(form).submit(function (e) {

          // Prevent form submission which refreshes page
          e.preventDefault();

          const formData = new FormData(this)
          fetch('post/pics/<%= album._id %>', {
            method: 'post',
            body: formData
          })
            .then(function (response) {
              return response.text()
            })
            .then(function (text) {
              console.log(text)
            })
            .catch(e => {
              console.error(e)
            })
        })
      }
    });

/*
    $(document).ready(function () {
      // Listen to submit event on the <form> itself!

      $('.prospects_form').submit(function (e) {

        // Prevent form submission which refreshes page
        e.preventDefault();

        const formData = new FormData(this)
        fetch('post/pics/<%= album._id %>', {
          method: 'post',
          body: formData
        })
          .then(function (response) {
            return response.text()
          })
          .then(function (text) {
            console.log(text)
          })
          .catch(e => {
            console.error(e)
          })
        //var url = $('#file-input').val()*/
        /*
        
                $.ajax({
                  url: '/post/pics/<%= album._id %>',
                  data: { url: url },
                  type: 'POST',
                })*/
        // Serialize data
        //var formData = $(this).serialize();
        //console.log('hey formData', formData);
        // Make AJAX request
        /*  
          $.post("/post/pics/<%= album._id %>", {
                url: url
              }
            ).complete(function() {
            console.log("Success");
          });*/
     // });
    //});
    $(function () {
      var f = '-'
      $("#add").click(function () {
        var n = $('.pics').length;
        var f += '-'
        if (n === 0 || n === 3 || n === 6 || n === 9 || n === 12 || n === 15 || n === 18 || n === 21 || n === 24 || n === 27 || n === 30 || n === 33 || n === 36 || n === 39 || n === 42 || n === 45 || n === 48 || n === 51 || n === 54 || n === 57 || n === 60 || n === 63 || n === 66 || n === 69 || n === 72 || n === 75 || n === 78 || n === 81 || n === 84
        ) {
          var a = 0;
        }
        if (n === 1 || n === 4 ||
          n === 7 || n === 10 || n === 13 || n === 16 || n === 19 || n === 22 || n === 25 || n === 28 || n === 31 || n === 34 || n === 37 || n === 40 || n === 43 || n === 46 || n === 49 || n === 52 || n === 55 || n === 58 || n === 61 || n === 64 || n === 67 || n === 70 || n === 73 || n === 76 || n === 79 || n === 82 || n === 85
        ) {
          var a = 100;
        }
        if (n === 2 || n === 5 || n === 8 || n === 11 || n === 14 || n === 17 || n === 20 || n === 23 || n === 26 || n === 29 || n === 32 || n === 35 || n === 38 || n === 41 || n === 44 || n === 47 || n === 50 || n === 53 || n === 56 || n === 59 || n === 62 || n === 65 || n === 68 || n === 71 || n === 74 || n === 77 || n === 80 || n === 83 || n === 86
        ) {
          var a = 200;
        }
        console.log(n)
        div = document.createElement('div');
        $(div).addClass("col-6 col-md-6 col-lg-4 pics").html(
          `<form class=${f}>
            <a onclick="addPhoto()" class='d-block photo-item'>
              <img src='images/blank_.png' alt='Image' class='img-fluid'>
              <div class='photo-text-more'>
                <div class='photo-text-more'>
                  <h3 class='heading' onclick='addPhoto()'>Añadir Foto</h3>
                  <span class='meta'>submit foto</span>
                </div>
              </div>
              <input type='file' id='file-input' name='postImg' class='form-control' style='display: none;'>
            </a>
            <div class='row form-group'>
              <div class='col-md-12'  style='text-align:center'>
                <input type="submit" id="submit" value="Guardar" class="btn btn-primary btn-md text-white">
              </div>
            </div>
          </form>`);
        $(div).attr("data-aos", "fade-up");
        $(div).attr("data-aos-delay", a);
        $("#fotos").append(div);
      });
    });
  </script>

</body>

</html>